
@{
    ViewBag.Title = "AdminPage";
}

<body style="background-color:lightblue">

    <h2>AdminPage</h2>

    <h1><font color="green" face="Arial"> <b>Welcome Admin </b></font></h1>
    <hr style="height:2px; border:ridge;color:red;width:100" />

    <h2>
        @Html.ActionLink("CustomerDetails", "Index", "Openingaccounts"):
    </h2>

    <hr style="height:2px; border:ridge;color:red;width:100" />

    <h2>
        @Html.ActionLink("TransactionDetails", "Index", "Transactions"):
    </h2>

</body>