@{
    ViewBag.Title = "About";
}



<body style="background-color:lightblue">


    <br />

    <style>
        p {
            font - size: 30px;
            font - weight: 400;
            font - family: sans - serif;
        }
    </style>


    <p>WeBank provides anywhere anytime online access to accounts for WeBank Customers </p>

</body>