@{
    ViewBag.Title = "Contact";
}

<body style="background-color:lightblue">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        4/179,WE BANK,PERIYAR STREET <br />
        EGATTUR,SIRUSERI 603103 <br />
        <abbr title="Phone">P:</abbr>
        1400 1243
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Webanksupport@example.com">Webanksupport@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Webankmarketing@example.com">Webankmarketing@example.com</a>
    </address>

</body>